<div nz-row style="padding-left:24px;">
    <div style="overflow:auto;padding:24px 8px;border-right: 1px solid #e6ebef;" #mydetailsContent nz-col nzSpan="7">
      <h4>按访问量排行</h4>
      <nz-spin [nzSpinning]="isSpinning.spin1">
        <div (click)="selectGeoListItem(item)" class="custom-default-list" [ngClass]="{'selected': item.select}" *ngFor="let item of geoListData">
          <span title="{{item.geo}}" class="left" style="width:200px;">{{item.geo}}</span>
          <span class="right">
            <span>{{item.count}} ({{item.percent}}%)</span>
            <i class="anticon anticon-right"></i>
          </span>
        </div>
      </nz-spin>
   
    </div>
    <div style="overflow:auto;padding:24px 16px;" #mydetailsContent nz-col nzSpan="17">
      <div nz-row>
        <div nz-col class="gutter-row" style="margin-bottom:24px;" [nzSpan]="24">
          <nz-card nzType="inner" nzTitle="访问速度" [nzExtra]="extradlTemplate">
            <!-- <app-custom-highchart></app-custom-highchart> -->
          </nz-card>
          <ng-template #extradlTemplate>
            <app-time-choice-panel (selectOver)="selectOver($event,30)"></app-time-choice-panel>
          </ng-template>
        </div>
      </div>
      <div nz-row>
        <div nz-col class="gutter-row" style="margin-bottom:24px;" [nzSpan]="24">
          <nz-card nzType="inner" nzTitle="JS错误率" [nzExtra]="extradlTemplate">
            <!-- <app-custom-highchart></app-custom-highchart> -->
          </nz-card>
          <ng-template #extradlTemplate>
            <app-time-choice-panel (selectOver)="selectOver($event,30)"></app-time-choice-panel>
          </ng-template>
        </div>
      </div>
      <div nz-row>
        <div nz-col class="gutter-row" style="margin-bottom:24px;" [nzSpan]="24">
          <nz-card nzType="inner" nzTitle="API请求成功率" [nzExtra]="extradlTemplate">
            <!-- <app-custom-highchart></app-custom-highchart> -->
          </nz-card>
          <ng-template #extradlTemplate>
            <app-time-choice-panel (selectOver)="selectOver($event,30)"></app-time-choice-panel>
          </ng-template>
        </div> 
      </div>
    </div>
  </div>