<div style="padding:24px;" [@routeAnimation1]>
    <div nz-row [nzGutter]="24">
        <div nz-col class="gutter-row" style="margin-bottom:24px;" [nzSpan]="12">
            <nz-spin [nzSpinning]="isSpinning.spin1">
                <nz-card style="height: 354px;" nzType="inner" nzTitle="PV/UV" [nzExtra]="extraPVTemplate">
                    <div class="total_pv_uv">
                        <p> 总PV:
                            <span>{{total_pv_uv?.totalPv}}</span>
                        </p>
                        <p> 总UV:
                            <span>{{total_pv_uv?.totalUv}}</span>
                        </p>
                    </div>
                    <app-custom-highchart [config]="pv_uv_config"></app-custom-highchart>
                </nz-card>
            </nz-spin>
            <ng-template #extraPVTemplate>
                <app-time-choice-panel (selectOver)="selectOver($event,10)"></app-time-choice-panel>
            </ng-template>
        </div>
        <div nz-col class="gutter-row" style="margin-bottom:24px;" [nzSpan]="12">
            <nz-spin [nzSpinning]="isSpinning.spin2">
                <nz-card class="my-list-card" nzType="inner" nzTitle="访问量TOP8页面" [nzExtra]="extraTOP10Template">
                    <nz-list style="height: 312px;overflow-y: auto;border: none;" [nzDataSource]="top10Data" nzBordered nzSize="small" [nzRenderItem]="item">
                        <ng-template #item let-item>
                            <nz-list-item [nzActions]="[editAction]" [nzContent]="item.page">
                                <ng-template #editAction>{{item.count}}</ng-template>
                            </nz-list-item>
                        </ng-template>
                    </nz-list>
                </nz-card>
            </nz-spin>
            <ng-template #extraTOP10Template>
                <app-time-choice-panel (selectOver)="selectOver($event,20)"></app-time-choice-panel>
            </ng-template>
        </div>
    </div>

    <div nz-row>
        <div nz-col class="gutter-row" style="margin-bottom:24px;" [nzSpan]="24">
            <nz-spin [nzSpinning]="isSpinning.spin3">
                <nz-card nzType="inner" nzTitle="地理分布" [nzExtra]="extradlTemplate">
                    <div nz-col [nzSpan]="15">
                        <app-custom-highchart [config]="dl_config"></app-custom-highchart>
                    </div>
                    <div nz-col [nzSpan]="9">
                        <nz-table #basicTable [nzData]="mapData" [nzPageSize]="7">
                            <thead>
                                <tr>
                                    <th>地域</th>
                                    <th>PV</th>
                                    <th>UV</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of basicTable.data">
                                    <td>{{data.name}}</td>
                                    <td>{{data.pv}}</td>
                                    <td>{{data.uv}}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </nz-card>
            </nz-spin>
            <ng-template #extradlTemplate>
                <app-time-choice-panel (selectOver)="selectOver($event,30)"></app-time-choice-panel>
            </ng-template>
        </div>
    </div>

    <div nz-row [nzGutter]="12">
        <div nz-col class="gutter-row" style="margin-bottom:24px;" [nzSpan]="8">
            <nz-spin [nzSpinning]="isSpinning.spin4">
                <nz-card nzType="inner" nzTitle="浏览器PV占比" [nzExtra]="extrabsTemplate">
                    <app-custom-highchart [config]="bs_config"></app-custom-highchart>
                </nz-card>
            </nz-spin>
            <ng-template #extrabsTemplate>
                <app-time-choice-panel (selectOver)="selectOver($event,40)"></app-time-choice-panel>
            </ng-template>
        </div>
        <div nz-col class="gutter-row" style="margin-bottom:24px;" [nzSpan]="8">
            <nz-spin [nzSpinning]="isSpinning.spin5">
                <nz-card nzType="inner" nzTitle="操作系统PV占比" [nzExtra]="extraosTemplate">
                    <app-custom-highchart [config]="os_config"></app-custom-highchart>
                </nz-card>
            </nz-spin>
            <ng-template #extraosTemplate>
                <app-time-choice-panel (selectOver)="selectOver($event,50)"></app-time-choice-panel>
            </ng-template>
        </div>
        <div nz-col class="gutter-row" style="margin-bottom:24px;" [nzSpan]="8">
            <nz-spin [nzSpinning]="isSpinning.spin6">
                <nz-card nzType="inner" nzTitle="分辨率PV占比" [nzExtra]="extrawhTemplate">
                    <app-custom-highchart [config]="wh_config"></app-custom-highchart>
                </nz-card>
            </nz-spin>
            <ng-template #extrawhTemplate>
                <app-time-choice-panel (selectOver)="selectOver($event,60)"></app-time-choice-panel>
            </ng-template>
        </div>
    </div>
</div>