.advise-container {
   position: fixed;
  z-index: 110;
  color: #fff;
  padding: 16px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 1;
  font-size: 12px;
  border: solid 2px #fff;
  box-shadow: 0px 1px 6px 0px rgba(49, 50, 51, 0.47), 0px 1px 3px 0px rgba(186, 218, 255, 0.88);
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

  /* Non-prefixed version, currently not supported by any browser */
  .advise {
    // width: 600px;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    position: absolute;
    left: 52px;
    border: solid 1px #3D93F4;
    background: #fff;
    color: #3D93F4;
    padding:0 4px;
    cursor: default;
    border-radius: 4px;
    box-shadow: 0px 0px 4px;

    a{
      width: 250px;
      display: inline-block;
      margin: 16px;
      img{
        width: 100%;
      }
    }
  }

  .advise-icon {
    position: absolute;
    left: 42px;
    top: 22px;
    font-size: 14px;
  }

  animation:mymove 2s infinite;
  -webkit-animation:mymove 2s infinite;
  /*Safari and Chrome*/
}

@keyframes mymove {
  0% {
    box-shadow: none;
  }

  40% {
    box-shadow: 0px 0px 10px #fff;
    font-size: 12px;
  }

  80% {
    box-shadow: 0px 0px 4px #fff;
  }

  100% {
    box-shadow: 0px 0px 2px #fff;
  }
}

@-webkit-keyframes mymove

/*Safari and Chrome*/
  {
  0% {
    box-shadow: none;
  }

  40% {
    box-shadow: 0px 0px 10px gray;
  }

  80% {
    box-shadow: 0px 0px 4px gray;
  }

  100% {
    box-shadow: 0px 0px 2px gray;
  }
}

@media screen and (max-width: 500px) {
  .advise-container{
    font-size: 10px;
    display:none;
  }
}
