<div class="advise-container" (click)="show($event,true)" #adviseContainer
  [ngStyle]="{'background': setting.color,'left':setting.left,'top':setting.top}">
  {{setting?.title}}<i appMonitorABlank [title]="setting?.title" nz-icon class="advise-icon" (click)="show($event,true)" title="展开" type="double-right"
    theme="outline"></i>
  <div class="advise" [ngStyle]="{'width': setting.width+'px'}" *ngIf="showAdvise" (click)="show($event,true)">
    <div [ngStyle]="{'width': setting.width-6+'px'}" style="text-align: right;position: fixed;background: #fff;padding: 8px;">
      <span style="float: left;font-weight: bolder;">{{setting?.subTitle}}</span>
      <i nz-icon (click)="show($event,false)" title="关闭" style="cursor: pointer;" type="close-circle"
        theme="outline"></i></div>
    <br>
    <a *ngFor="let item of data" [href]="item.url" [title]="item.title" target="_blank">
      <img [src]="'../../../assets/images/'+item.src">
    </a>
  </div>
</div> 