<nz-layout style="position: fixed;
    left: 0;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #D9DEE4;
    z-index: 10;
    width: 200px;">
    <span title="系统列表" style="cursor: pointer;cursor: pointer;
    font-family: cursive;
    font-size: 14px;
    color: dodgerblue;" [routerLink]="[ '/dashboard']">
       << 返回系统列表</span>
</nz-layout>
<nz-layout class="sys-header" style="min-width:1000px;">
    <div style="margin: auto 5px;position:relative;">
        <nz-divider style="width: 3px;background: #1890ff;margin-right: 0;" nzType="vertical"></nz-divider>
        <nz-select class="custom-select" style="min-width: 120px;" (ngModelChange)="selectedSysChange($event)" [ngModel]="currentSelectedSys">
            <nz-option *ngFor="let item of sysItems" [nzValue]="item.appKey" [nzLabel]="item.appName"></nz-option>
        </nz-select>
        <div style="position: absolute;top: 0;right: 8px;">
            <button *ngIf="!isFullScreen" style="margin: 0 8px;vertical-align:
                middle;" (click)="fullScreen()" nz-button nzType="default"><i
                    nz-icon type="arrows-alt" theme="outline"></i>进入全屏</button>
            <button *ngIf="isFullScreen" style="margin: 0 8px;vertical-align:
                middle;" (click)="exitFullScreen()" nz-button nzType="default"><i
                    nz-icon type="shrink" theme="outline"></i>退出全屏</button>
            <nz-badge style="vertical-align: middle;" nzDot><button nz-button nz-popover nzPlacement="left" [nzTitle]="null" [nzContent]="contentTemplate" nzTrigger="click" nzType="default"><i nz-icon type="money-collect" theme="outline"></i>赏咖啡</button></nz-badge>
            <span *ngIf="showGlobalTimer" style="vertical-align: middle;padding:
                8px;border: solid 1px #d9d9d9;margin: 0 8px;display:
                inline-block;line-height: 1;">
                <app-time-choice-panel (selectOver)="selectOver($event)"
                    [time]="4"></app-time-choice-panel>
            </span>
        </div>
    </div>
</nz-layout>
<ng-template #contentTemplate>
    <div style="width: 250px;">
        <h4 style="color:#03A9F4 !important;">关注也是情，说出您的想法！</h4>
        <div style="width: 200px;text-align: center;margin:4px;">
            <img style="height:150px;width:auto;" title="微信公众号" src="../assets/images/weixin-gongzhonghao.jpg" alt="微信">
        </div>
        <nz-divider nzText="低调的分割线"></nz-divider>
        <h4 style="color:#03A9F4 !important;">一分也是爱，期望您的支持！</h4>
        <div style="width: 100px;display:inline-block;margin:4px;">
            <span>微信：</span>
            <img style="height:100px;width:auto;" src="../assets/images/weixin.png" alt="微信">
        </div>
        <div style="width: 100px;display:inline-block;margin:4px;">
            <span>支付宝：</span>
            <img style="height:100px;width:auto;" src="../assets/images/zhifubao.png" alt="支付宝">
        </div>
    </div>
</ng-template>
<div #leftNav class="left-nav-container" style="z-index: 100;">
    <nz-layout>
        <nz-sider>
            <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'">
                <li *ngFor="let item of leftNavItems" routerLinkActive="ant-menu-item-selected" style="margin: 0;" nz-menu-item [routerLink]="[ item.value ]">
                    <span>
                        <i nz-icon [type]="item.icon"></i>
                        <span class="nav-text">{{item.label}}</span>
                    </span>
                </li>
            </ul>
        </nz-sider>
    </nz-layout>
</div>
<div #centerContent style="overflow:auto;min-width: 1200px;">
    <nz-layout id="centerContent" style="margin-left: 200px;">
        <nz-content style="background:#fff; min-height: 280px;">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</div>