<section id="home-section" style="width:100%;">
  <div style="width: 100%;height:400px;position:absolute;background: #096dd9;">

  </div>
    <div id="deccription">
        <div class="title">
            前端监控平台 - 开源监控
        </div>
        <div class="desc">
           日活跃、用户行为记录、访问日志、JS错误日志、API请求详情、访问性能评估，开发者必须关心的各种运营数据
        </div>
        <div class="opt" *ngIf="isLogin">
            <button [routerLink]="[ '/dashboard' ]">立即使用</button>
        </div>
        <div class="opt" *ngIf="!isLogin">
            <button [routerLink]="[ '/dashboard' ]">马上体验</button> &nbsp;
            <button appMonitorABlank (click)="isVisible_login=true;">独立账户</button>
        </div>
    </div>
</section>
<section id="home-section2" style="width:100%;">
    <h4>谁在使用</h4>
    <nz-card style="width: 300px;display: inline-block;vertical-align: top;margin: 16px;">
        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="前端性能监控平台"
            nzDescription="从不同维度去统计用户真实访问站点的情况，再现用户访问场景，帮助你快速定位问题。">
        </nz-card-meta>
    </nz-card>
    <nz-card style="width: 300px;display: inline-block;vertical-align: top;margin: 16px;">
        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="cnbooks" nzDescription="【Kindle中国】_Amazon Kindle 完全购买攻略。">
        </nz-card-meta>
    </nz-card>
    <nz-card style="width: 300px;display: inline-block;vertical-align: top;margin: 16px;">
        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="bboss"
            nzDescription="bboss是一个j2ee开源框架，为企业级应用开发提供一站式解决方案，并能有效地支撑移动应用开发。">
        </nz-card-meta>
    </nz-card>
    <nz-card style="width: 300px;display: inline-block;vertical-align: top;margin: 16px;">
        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="酷娃利息对比计算工具"
            nzDescription="一款帮你选择贷款方式的多功能利息计算工具。">
        </nz-card-meta>
    </nz-card>
    <nz-card style="width: 300px;display: inline-block;vertical-align: top;margin: 16px;">
        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="……" nzDescription="More">
        </nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template>
    <h3 style="margin-left: 16px;">虚位以待(推广位)……</h3>
    <nz-card style="width: 300px;display: inline-block;vertical-align: top;margin: 16px;" [nzLoading]="true">
        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="Card title" nzDescription="This is the description">
        </nz-card-meta>
    </nz-card>
    <nz-card style="width: 300px;display: inline-block;vertical-align: top;margin: 16px;" [nzLoading]="true">
        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="Card title" nzDescription="This is the description">
        </nz-card-meta>
    </nz-card>
    <nz-card style="width: 300px;display: inline-block;vertical-align: top;margin: 16px;" [nzLoading]="true">
        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="Card title" nzDescription="This is the description">
        </nz-card-meta>
    </nz-card>
</section>
<section id="home-section2" style="width:100%;padding: 0px 50px;">
    <h3 style="margin-left: 16px;">慕课推荐(专栏)</h3>
    <ul>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/WzO56cr">从 0 开始学爬虫</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/W7Wmpdv">Webpack 从零入门到工程化实战</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/WM7wYOD">用技术人的眼光看世界 • 程序员技术指北</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/WM7wYOD">教你用 Python 进阶量化交易</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/Wlba9hm">一条龙的 Node·Vue·React 服务器部署</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/Wxv7KHc">两小时学会 Node.js stream</a>
        </li>
    </ul>
</section>
<section id="home-section2" style="width:100%;padding: 0px 50px;">
    <h3 style="margin-left: 16px;">慕课推荐(实战)</h3>
    <ul>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/SnNi1QQ">剑指Java面试-Offer直通车</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/SNTMyFV">纯正商业级应用－Node.js Koa2开发微信小程序服务端</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/SoXuPiZ">前端下一代开发语言TypeScript 从基础到axios实战</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/SYa6RSU">JavaScript版 数据结构与算法</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/SXZyu9o">部署落地+业务迁移 玩转k8s进阶与企业级实践技能</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/ScyFAfI">微信分享与支付专项课程 （公众号 小程序（云））</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/Ssc67Nu">React新特性Hooks 重构去哪儿网火车票PWA</a>
        </li>
        <li>
            <a appMonitorABlank target="_blank" href="https://s.imooc.com/SxjKSih">从基础到实战 手把手带你掌握新版Webpack4.0</a>
        </li>
    </ul>
</section>
<section id="footer" style="width:100%;">
    <div class="grid-fluid">
        <div class="grid">
            <h3>资源</h3>
            <ul>
                <li><a appMonitorABlank target="_blank" href="https://angular.cn/" title="Angular官网">Angular</a></li>
                <li><a appMonitorABlank target="_blank" href="https://docs.mongodb.com/" title="数据库MongoDB">MongoDB</a>
                </li>
                <li><a appMonitorABlank target="_blank" href="https://ant.design/" title="UI设计模式">Ant Design</a></li>
                <li><a appMonitorABlank target="_blank" href="https://ng.ant.design/" title="Ant Design的Angular实现">NG-ZORRO</a>
                </li>
            </ul>
        </div>
        <div class="grid">
            <h3>帮助</h3>
            <ul>
                <li><a appMonitorABlank target="_blank" href="https://github.com/kisslove/web-monitoring" title="源码仓库">GitHub</a></li>
                <li><a appMonitorABlank target="_blank" href="/assets/images/weixin-gongzhonghao.jpg" title="关注公众号">公众号</a>
                </li>
                <li><a appMonitorABlank target="_blank" href="/assets/images/weixin.png" title="微信">支持作者</a></li>
            </ul>
        </div>
        <div class="grid">
            <h3>推广(招商中)</h3>
            <ul>
                <li><a appMonitorABlank target="_blank" href="https://www.51link.com/?ruid=9095"
                        title="发现一个非常不错的友情链接平台，可以买卖友链，可以交换友链，朋友们可以试试。">51 链</a>
                </li>
                <li><a appMonitorABlank target="_blank" href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=9xbvcsop">阿里云优惠购</a></li>
                <li><a appMonitorABlank target="_blank" href="http://coolwow.myselfbuy.com/" title="一款帮你选择贷款方式的多功能利息计算工具">酷娃利息对比计算工具</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<nz-modal [nzOkText]="'确认'" [nzCancelText]="'取消'" [(nzVisible)]="isVisible_login" nzTitle="登录" (nzOnOk)="login()"
    (nzOnCancel)="isVisible_login=false;">
    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">邮箱</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <input nz-input [(ngModel)]="model.email" name="email">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">密码</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <input nz-input type="password" [(ngModel)]="model.password" name="password">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-bottom:0;">
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;width:90%;">
            <span>没有账户?</span><span appMonitorABlank (click)="isVisible_login=false;isVisible_register=true;"
                style="margin-left: 24px;text-decoration: underline;cursor: pointer;">马上注册</span>
        </nz-form-control>
    </nz-form-item>
</nz-modal>

<nz-modal [nzOkText]="'确认'" [nzCancelText]="'取消'" [(nzVisible)]="isVisible_register" nzTitle="免费注册"
    (nzOnOk)="isVisible_register=false;" (nzOnCancel)="isVisible_register=false;">
    <h4 style="color:#03A9F4 !important;">关注作者公众号，发送邮箱+密码，免费注册，获得独立账号（所创建的项目仅自己可见）。</h4>
    <div style="text-align: center;margin:4px;">
        <img style="height:150px;width:auto;" title="微信公众号" src="../assets/images/weixin-gongzhonghao.jpg" alt="微信">
    </div>
</nz-modal>

<!-- <nz-modal [nzOkText]="'确认'" [nzCancelText]="'取消'" [(nzVisible)]="isVisible_register" nzTitle="注册" (nzOnOk)="register()" (nzOnCancel)="isVisible_register=false;">
    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">邮箱</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <input nz-input [(ngModel)]="model2.email" name="email">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">密码</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <input nz-input type="password" [(ngModel)]="model2.password" name="password">
        </nz-form-control>
    </nz-form-item>
</nz-modal>  -->